annotated-types
anyio
attrs
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cryptography
ecdsa
fastapi
fastapi-client
flasgger
Flask
Flask-SQLAlchemy
h11
httpcore
httpx
idna
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
passlib
pluggy
pyasn1
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pytest
pytest-flask
python-jose
PyYAML
referencing
requests
rpds-py
rsa
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
Werkzeug
